<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /> <p>
<label for="tema">Tema:</label>
<select name="quiz[tema]" id="tema">
	<option <%= (quiz.tema === 'Otro') ? "selected" : "" %> value="Otro">Otro</option>
    <option <%= (quiz.tema === 'Humanidades') ? "selected" : "" %> value="Humanidades">Humanidades</option>
    <option <%= (quiz.tema === 'Ocio') ? "selected" : "" %> value="Ocio">Ocio</option>
    <option <%= (quiz.tema === 'Ciencia') ? "selected" : "" %> value="Ciencia">Ciencia</option>
    <option <%= (quiz.tema === 'Tecnología') ? "selected" : "" %> value="Tecnología">Tecnología</option>
</select><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">