	<!-- formulario de respuesta -->
	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		<p>Pregunta: <%= quiz.pregunta %> </p>
		<input type="text" name="respuesta" placeholder="Responda aquí" />
		<input type="submit" value="Enviar" />
	</form>
	
	<!--  enlace a formurario para nuevo comentario -->
	<p><a href="/quizes/<%= quiz.id %>/comments/new?pregunta=<%=quiz.pregunta%>"><button>Nuevo comentario</button></a></p>

	<!-- lista de comentarios -->
	<p><strong>Comentarios:</strong></p>
	<% for ( index in quiz.Comments ) { %>
		<% if ( quiz.Comments[index].publicado || session.user ) { %>
			<p>- <%= quiz.Comments[index].texto %> 
			<% if ( session.user && !quiz.Comments[index].publicado) { %>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id %>/publish"><button>Publicar</button></a></p>
			<% } %>
		<% } %>
	<% } %>
 